<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"><head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>EventeX -- WttD app</title>

<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/png">

<meta name="robots" content="noindex">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta name="keywords" content="EventeX,Dev in Rio">
<meta name="description" content="Bem-vindo ao EventeX! O evento mais sensacional do ano depois do Dev in Rio!">

<link rel="stylesheet" type="text/css" href="/static/css/style_black.css" media="screen">


<style type="text/css">
    body {
        background-color:#000000;
        color: white;
    }

    </style>

<table class="fulltable" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
        <td align="center" valign="middle">
            <br clear="all" />
            <img src="/static/img/eventeX-01A.jpg" width="477" height="232.2" alt="EventeX" />
            <br clear="all" />
            <br clear="all" />
            <h2>Bem-vindo ao EventeX!</h2><br clear="all" />
            
            <h4>O evento mais sensacional do ano depois do Dev in Rio!</h4>
            
            Você não pode perder esta oportunidade!<br clear="all" />
            
            Abertura das inscrições em 18/02/2012.</h4>
            <br clear="all" />
            <br clear="all" /><br clear="all" />
            <span style="font-size: smaller;">
            Para dúvidas e mais informações entre em contato com  <a href="mailto:eventex@eventex.com.br?subject=Contato%20-%20EventeX">eventex@eventex.com.br</a> <br clear="all" />
            <br clear="all" />
            
            <p>©2012-2017 Eventex, some rights reserved &nbsp; <img src="/static/img/by-nc-sa.png" width="80" height="15" alt="" /></p>
      
           </span> 
        </td>
           <td valign="bottom">
       <img src="/static/img/under_construction-02A.jpg" width="85" height="80" alt="" />
       </td>
    </tr><td align="left" valign="bottom"><span> <br clear="all" />&nbsp;</span></td>
    </tbody>
</table>

</body>
</html>

